header {
  background-color: skyblue;
  border: 2px black solid;
  border-radius: 5px;
}
.img_title {
  display: flex;
  justify-content: space-between;
}
h1 {
  align-self: center;
}
nav {
  display: flex;
  align-self: flex-end;
}
.sub-menu a {
  color: black;
  margin: 10px;
}
.sub-menu a:hover {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.sub-menu {
  padding: 10px;
  background-color: pink;
}

@media only screen and (max-width: 400px) {
  header {
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 18px;
  }
}
