.message-contain {
  height: 200px;
  width: 50%;
  background-color: white;
  margin: 5px auto;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
}
.inputs {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 3px;
}
.inputField {
  width: 85%;
  border-radius: 5px;
  justify-content: space-around;
}
.post-btn {
  border-radius: 5px;
  background-color: skyblue;
}

@media only screen and (max-width: 400px) {
  .message-contain {
    width: 100%;
  }
  .inputField {
    width: 85%;
  }
  .inputs {
    justify-content: space-around;
  }
}
