.personal-form {
  padding: 10px;
}
.student-info {
  display: flex;
  flex-direction: row;
}
.BTN {
  display: flex;
  justify-content: flex-end;
}
.textfield {
  margin: 15px;
}

/*
where does this class go in component
*/
/*.rotate {
  transform: rotateY(180deg);
}*/
