.personal-form {
  padding: 10px;
}
.student-info {
  display: flex;
  flex-direction: row;
}
.BTN {
  display: flex;
  justify-content: flex-end;
}
.textfield {
  margin: 15px;
}
@media only screen and (max-width: 400px) {
  .maincontainer {
    height: 550px;
  }
  /*.theback {
    height: auto;
  }*/
  .student-info {
    flex-direction: column;
  }
}
