.quote-contain {
  height: auto;
  border: 2px black solid;
  border-radius: 5px;
  background-image: url('https://www.gravatar.com/userimage/126022818/3837faf314ed34a71c19bb6fadbae31c?size=120');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.quote {
  font-size: 24px;
  margin: 0;
  width: 70%;
}
.author {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin: 0;
  width: 70%;
}

@media only screen and (max-width: 400px) {
  .qqq {
    width: 100%;
  }
  .quote > p {
    font-size: 16px;
  }
  .author {
    font-size: 12px;
  }
}
