a {
  color: blue;
  text-decoration: none;
}
.sticky-contain {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.sticky {
  height: auto;
  width: 15%;
  background-color: pink;
}
.sticky > a {
  font-family: cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 2px;
  text-decoration: none;
}
.sticky > a:hover {
  color: blue;
}
.sticky3 > p {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.sticky-top {
  background-color: lightyellow;
  opacity: .2;
  height: 15px;
}
.sticky1 {
  transform: rotate(-5deg);
  box-shadow: -1px 3px 10px gray;
}
.sticky2 {
  box-shadow: 0 3px 10px gray;
  position: relative;
  bottom: 15px;
}
.sticky3 {
  transform: rotate(5deg);
  box-shadow: 1px 3px 10px gray;
}
.sticky4 {
  margin-bottom: 23px;
}
ol {
  padding-left: 30px;
  padding-right: 20px;
}
ol li {
  position: relative;
  bottom: 5px;
}

@media only screen and (max-width: 400px) {
  .sticky-contain {
    width: 320px;
    justify-content: space-between;
  }
  .sticky {
    width: 8em;
    height: 7em;
    margin: 4px;
  }
  ol li {
    font-size: 10px;
  }
  ol {
    position: relative;
    right: 12px;
  }
  .sticky a {
    font-size: 13px;
    text-decoration: none;
  }
  .sticky1, .sticky2, .sticky3 {
    transform: rotate(0deg);
    box-shadow: 0 3px 10px gray;
  }
}
