.about_me > h1 {
  display: flex;
  justify-content: center;
}
.about_me {
  margin: 0 auto;
  /*padding: 5px;*/
}
.backskyblue {
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}
.backwhite {
  background-color: white;
  padding: 5px;
  border: 2px solid black;
}
.about-text {
  display: flex;
  flex-direction: column;
}
.firstp {
  width: 80%;
  align-self: center;
}
.secondp {
  width: 90%;
  align-self: center;
}

@media only screen and (max-width: 400px) {
  .about_me {
    margin-left: 0;
    width: 100%;
  }
}
