.about-container {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  border: 5px solid lightgreen;
  width: 960px;
  margin: 10px auto;
  padding: 25px;
}
* {
  box-sizing: border-box;
}
.about_me > h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin: 25px;
}
.about_me {
  margin: 0 auto;
  width: 45%;
}
.backskyblue {
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}
.backwhite {
  background-color: white;
  padding: 5px;
  border: 2px solid black;
}

@media only screen and (max-width: 400px) {
  .about_me {
    margin-left: 0;
    width: 100%;
  }
}
