.container {
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  background-color: lightgreen;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.service_contact {
  display: flex;
  justify-content: space-around;
}
