.form {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.top-panel {
  border-bottom: 1px solid black;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-around;
}
.submit {
  width: 50%;
  margin-right: 5px;
}
.reset {
  width: 50%;
}
.info-sticky {
  display: flex;
  justify-content: center;
}
.CEP {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.contacts-sticky-top {
  background-color: lightyellow;
  opacity: .2;
  height: 15px;
}
.contact-sticky {
  height: auto;
  width: 90%;
  background-color: pink;
  box-shadow: 0 5px 20px black;
}
.contact-sticky p {
  padding: 5px;
  margin: 0;
  font-family: cursive;
  font-weight: bold;
}
