.quote {
  height: 150px;
  border: 2px black solid;
  border-radius: 5px;
  background-image: url('https://www.gravatar.com/userimage/126022818/3837faf314ed34a71c19bb6fadbae31c?size=120');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 28px;
  display: flex;
  justify-content: center;
  position: relative;
}
.quote > p {
  align-self: center;
}
