.top-panel {
  border-bottom: 1px solid black;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_contact > section {
  border: 2px black solid;
  border-radius: 5px;
  width: 30%;
  background-color: skyblue;
}
.subjects {
  display: flex;
  flex-direction: column;
}
.subjects > a {
  font-size: 23px;
  padding: 10px;
}

/*still in progress*/
.details {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 2px black solid;
  /*display: none;*/
}
.details > p {
  margin: 0;
}
